### Data Preprocessing 

I concatenate the title with the text because I think, given the title is shorter it contains more keywords that can be useful and it doesn't make sense work on them separately.

In [33]:
def concat_columns(df, col1, col2, new_col):
    df[new_col] = df[col1].apply(str) + ' ' + df[col2].apply(str)
    df.drop(col2, axis = 1, inplace = True)
    return df

df_reviews_clean = concat_columns(df_reviews_clean, 'text', 'title', 'text')
df_reviews_clean.head()

,rating,text,helpful_vote,verified_purchase,length
0,5.0,This spray is really nice. It smells really go...,0,True,300
1,4.0,"This product does what I need it to do, I just...",1,True,235
2,5.0,"Smells good, feels great! Yes!",2,True,25
3,1.0,Felt synthetic Synthetic feeling,0,True,14
4,5.0,Love it A+,0,True,7

Convert all 'text' column character to lower case.

In [36]:
# Conversion'text' to lower case
df_reviews_clean['text'] = df_reviews_clean['text'].str.lower()

 Elimino caracteres especiales, numeros y stopwords

In [38]:
# Dowload stopwords 
nltk.download('stopwords')

# Load english stopwords
stop_words = set(stopwords.words('english'))

# Clean text function
def clean_text(texto):
    if not isinstance(texto, str):
        return ""
    
    # 1. Eliminar caracteres especiales y números (conserva letras y espacios)
    texto_limpio = re.sub(r'[^a-zA-ZáéíóúüñÁÉÍÓÚÜÑ\s]', '', texto)
    
    # 2. Eliminar stopwords
    palabras = texto_limpio.split()
    palabras_filtradas = [palabra for palabra in palabras if palabra not in stop_words]
    
    # 3. Unir palabras nuevamente
    return ' '.join(palabras_filtradas)

# Aplicar a la columna 'text'
df_reviews_clean['clean_text'] = df_reviews_clean['text'].apply(clean_text)

# Mostrar ejemplo antes/después
print("=== Cleaning example ===")
print("Original:", df_reviews_clean['text'].iloc[0])
print("Clean:", df_reviews_clean['clean_text'].iloc[0])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vicky\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

=== Cleaning example ===
Original: this spray is really nice. it smells really good, goes on really fine, and does the trick. i will say it feels like you need a lot of it though to get the texture i want. i have a lot of hair, medium thickness. i am comparing to other brands with yucky chemicals so i'm gonna stick with this. try it! such a lovely scent but not overpowering.
Clean: spray really nice smells really good goes really fine trick say feels like need lot though get texture want lot hair medium thickness comparing brands yucky chemicals im gonna stick try lovely scent overpowering

In [40]:
# Eliminate the original 'text' column preserving only 'clean_text'
df_reviews_clean = df_reviews_clean.drop(columns=['text'])
df_reviews_clean.head()

,rating,helpful_vote,verified_purchase,length,clean_text
0,5.0,0,True,300,spray really nice smells really good goes real...
1,4.0,1,True,235,product need wish odorless soft coconut smell ...
2,5.0,2,True,25,smells good feels great yes
3,1.0,0,True,14,felt synthetic synthetic feeling
4,5.0,0,True,7,love

Save the preprocessed dataset in folder 'data_sample/processed'

In [46]:
# Ruta ABSOLUTA 
destin_path = r'C:\Users\Vicky\Documents\ML_Amazon_Reviews_Sentiment_Analysis\data_sample\processed'

# Guardo el archivo
df_reviews_clean.to_csv(os.path.join(destin_path, 'preprocessed_reviews.csv'), index=False)

print(f"File saved in: {destin_path}!")

File saved in: C:\Users\Vicky\Documents\ML_Amazon_Reviews_Sentiment_Analysis\data_sample\processed!

### Text Tokenization

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Vicky\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

'word_tokenize'  is an nltk function that divides  a text in individual words (tokens) based in Punkt

In [7]:
from nltk.tokenize import word_tokenize

df_reviews_clean['tokens'] = df_reviews_clean['text_limpio'].apply(lambda x: word_tokenize(str(x).lower()))

NameError: name 'df_reviews_clean' is not defined